version: '3'

services:
  prometheus:
    image: {{ prometheus_image }}
    ports:
      - "{{ prometheus_port }}:9090"
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
      - prometheus_data:/prometheus
    restart: always

  alertmanager:
    image: {{ alertmanager_image }}
    ports:
      - "{{ alertmanager_port }}:9093"
    volumes:
      - ./alertmanager.yml:/etc/alertmanager/config.yml
    command:
      - '--config.file=/etc/alertmanager/config.yml'
    restart: always

  grafana:
    image: {{ grafana_image }}
    ports:
      - "{{ grafana_port }}:3000"
    volumes:
      - grafana_data:/var/lib/grafana
    restart: always

volumes:
  prometheus_data:
  grafana_data: